@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/* RESET + FIX GLOBALI */

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

/* Font globale */
body {
  font-family: 'Karla', sans-serif;
}

.marzaki {
  font-family: 'Marzaki Text', Georgia, serif;
}

:root {
  --image-desktop-right: 0rem;
  --image-laptop-right: 0rem;
  --image-width-min: 280px;
  --image-width-max: 420px;
}
